#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
// LEFT SIDE
// Outer  Pinkie  Ring   Middle  Index   Inner   Aux
&kp ESC  &kp Q   &kp W   &kp E   &kp R   &kp T   &kp Y      
&kp TAB  &kp A   &kp S   &kp D   &kp F   &kp G   &kp H      
&kp LCTRL &kp LALT &kp SPACE &kp ENTER &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1
&none    &none   &none   &kp LCTRL &kp LALT &kp SPACE &none 

// RIGHT SIDE (Mirroring the same 7x4 grid)
&kp U    &kp I   &kp O   &kp P   &kp LBKT &kp RBKT &kp BSLH
&kp J    &kp K   &kp L   &kp SEMI &kp SQT &kp ENTER &kp RCTRL
&none &none &none &kp BSPC &kp RGUI &kp ENTER &bt BT_CLR
&none    &none   &none   &kp BSPC &kp RGUI &kp ENTER &none
            >;
        };
    };
};